<div class="jumbotron text-center">
    <img src="assets/img/bus.png" class="b">
    <h1>LETS RIDE</h1>
    <p class="lead">Book Online Bus Tickets with us</p>
    <div class="a">
        <form class="form-inline text-center" (submit)="search()">
          <input class="form-control mr-sm-2" type="text" placeholder="From" [(ngModel)]="from" name="from">
          <input class="form-control mr-sm-2" type="text" placeholder="To" [(ngModel)]="to" name="to">
          <input class="form-control mr-sm-2" type="date" placeholder="Onward Date">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Buses</button>
        </form>
    </div>
</div>
  <br/><br/>
  <div class="card">
  <div class="row">
   
    <div class="col-md-4">
        <div class="card-body">
      <h3 class="text-primary">Bus On Time</h3>
      <p><b>Get 25% refund</b></p>
      <p>If bus departure is delayed by 30 mins from boarding point.</p>
    </div></div>
    
    <div class="col-md-4">
        <div class="card-body">
      <h3 class="text-primary">No bus cancellation</h3>
      <p><b>Get 150% refund</b></p>
      <p>Bus is cancelled without an alternate arrangement.</p>
    </div></div>
    
    <div class="col-md-4">
        <div class="card-body">
      <h3 class="text-primary">Alternate assurance</h3>
      <p><b>Get 300% refund</b></p>
      <p>Bus breaks down with no alternate arrangement within 6 hours.</p>
    </div></div>
  </div>
</div><br><br>
  <div class="text-center">
      <img src="assets/img/promise.png">
    <h1> 
      WE PROMISE TO DELIVER
    </h1>
  </div><br><br>
  <div class="card">
  <div class="row text-center">
      <div class="col-md-3">
        
          <div class="card-body">
          <img src="assets/img/choices.png" height= "100" width="110">
          <h4 class="text-primary">MAXIMUM CHOICE</h4>
          <p>We give you the widest number of travel options across thousands of routes.</p>
          </div>
        
      </div>
      <div class="col-md-3">
        
          <div class="card-body">
          <img src="assets/img/customer_care.png" height= "100" width="110">
        <h4 class="text-primary">SUPERIOR CUSTOMER SERVICE</h4>
        <p>We put our experience and relationships to good use and are available to solve your travel issues.</p>
        </div>
      </div>
      <div class="col-md-3">
          
              <div class="card-body">
          <img src="assets/img/lowest_Fare.png" height= "100" width="110">
        <h4 class="text-primary">LOWEST PRICES</h4>
        <p>We always give you the lowest price with the best partner offers.</p>
        </div>
      </div>
      <div class="col-md-3">
          
              <div class="card-body">
          <img src="assets/img/benefits.png" height= "100" width="110">
          <h4 class="text-primary">UNMATCHED BENEFITS</h4>
          <p>We take care of your travel beyond ticketing by providing you with innovative and unique benefits.</p>
          </div>
      </div>
    </div>
    </div><br><br>
  